$font-sans-serif: 'Avenir Next', Helvetica, 'Arial',  'Geneva', sans-serif;
$font-serif: 'Minion Pro', 'Times New Roman', 'Adobe Garamond Pro', serif;

$font-size-h1: 2.375rem;
// $font-size-h1-tablet: 2rem;
$font-size-h2: 1.25rem;


$header-height: 110vh;


